.event-form {
  margin-top: 33%;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.tags .tag {
  display: inline-block;
  padding: 0px 2px;
}


.delete-tag-button {
  border-radius: 10px;
  border: none;
}

.char-count {
  bottom: 10%;
  right: 10%;
  color: #ccc;
  font-size: 12px;
  text-align: right;
  padding-bottom: 3%;
}


.event-form h2 {
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 15px;
  border-radius: 25px;
  min-width: 100%;
  background-color: #030818;
}

.count-name {
  margin-left: 60%;
}

.count-des {
  margin-left: 50%;
}

.form-section label {
  display: block;
  margin-bottom: 5px;
  margin-top: 3%;
  margin-left: 6%;
}

.form-section input,
.form-section textarea {
  width: 80%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #0f3460;
  background-color: #020610;
  color: white;
  margin-top: 3%;
  margin-left: 6%;
  margin-bottom: 5%;
}

.form-section input[type="file"] {
  padding: 5px;
}

.date-section {
  border: none;
  display: flex;
  justify-content: space-between;
}

.date-section div {
  width: 48%;
}

.divider {
  border-right: 2px solid green;
  height: 100px;
}

.column {
  float: left;
}

.sidebar {
  float: left;
  max-width: 30%;
  text-align: right;
  color: white;
  margin-left: 25%;
  margin-top: 13%;
  margin-right: 5%;

}

.heading {
  text-align: right;
}

.sidebar h2 {
  margin: 0;
}

.info {
  text-align: center;
}

.sidebar img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  padding: 0px 8px;
}

.create-button {
  position: fixed;
  bottom: 1px;
  background-color: transparent;
  background-color: rgba(240, 228, 228, 0.1);
  min-height: 7%;
  width: 62%;
  text-align: right;
  align-items: center;
  backdrop-filter: blur(40px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.save-button {
  background-color: #2656D6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  margin-top: 1.5%;
  margin-right: 2%;
}


.tag-area {
  background-color: #020610;
  color: white;
  padding: 3%;
  border-radius: 10px;
  margin-bottom: 7%;
}

.tags-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  position: relative;
  margin-right: 10%;
}

.tag {
  background-color: #385FE7;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: medium;
}

.tag button {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.dropdown-toggle {
  background-color: #020610;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  padding: auto;
}

.tags-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20%;
}

.tags-selection button {
  background-color: #020610;
  border: 2px solid #ccc;
  border-radius: 13px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.tags-selection button:hover {
  background-color: #394163;
}


.save-button:hover {
  background-color: white;
  color: #000;
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


.banner-upload {
  padding-bottom: 6%;
}

.upload-area {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #020610;
  padding: 20px;
  text-align: left;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3%;
  align-items: center;
  justify-content: center;

}

.upload-area:hover {
  background-color: #333;
}

.upload-link {
  color: #4f8ef7;
  text-decoration: underline;
}

.upload-area.active {
  background-color: #444;
  border-color: #4f8ef7;
}

.banner-image {
  left: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #798390;
}